*{
    margin: 0px;
    padding: 6px;
    text-align: center;
    user-select: none;
}

h1{
    font-size: 3rem;
}

input{
  text-align: left;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.5s ease-in-out;
  }

/* Bounce Effect */
@keyframes bounce {
  0% { transform: translateY(0); }
  25% { transform: translateY(-10px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.bounce {
  animation: bounce 0.5s ease-in-out;
}
